<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <% poki.map(char => { %>
      <form action='/add' method='post'>
        <h2><%= char.name %></h2>
        <input type="hidden" name="name" value=<%=char.name%> />
        <button>Add to Favorites</button>
      </form>
    <% }) %>
  
</body>
</html>